@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-primary: #ED4D1B;
    --color-secundary: #FF9A3C;
    --color-black: #000;
}

.marginT-1 {
    margin-top: 1rem;
}

.marginT-2 {
    margin-top: 2rem;
}

.marginB-1 {
    margin-bottom: 1rem;
}

.marginB-2 {
    margin-bottom: 2rem;
}

.marginAuto {
    margin-left: auto;
    margin-right: auto;
}

body {
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E5 100%);
}


header, main section, footer {
    border: 1px inset var(--color-black);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

footer {
    padding: 2rem;
}

header img {
    display: block;
    margin: 2rem auto;
}

nav {
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;  
}

header nav li:nth-child(odd) {
    margin-top: 10px;
    padding: 10px;
    text-align: right;
}

.section-1 img{
    display: block;
    max-width: 100%;
    margin-left: auto;
}

.section-1 div {
    padding: 0 2rem;
    margin-bottom: 16rem;
}

footer nav li {
    margin: 2rem 0 2rem;
}

.button {
    display: flex;
    width: 11rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid var(--color-black);
    box-shadow: 4px 4px 1px;
    cursor: pointer;
}

.spans {
    color: var(--color-primary);
}

.conhecer {
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

.impac {
    display: flex;
}

.impac::after {
    background-image: url(img/three-dashes.svg);
    width: 46px;
    height: 49px;
    content: '';
    display: inline;
    position: relative;
    bottom: 12px;
    right: 5px;

}