@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-primary: #ED4D1B;
    --color-secundary: #FF9A3C;
    --color-black: #000;
}

.marginT-1 {
    margin-top: 1rem;
}

.marginT-2 {
    margin-top: 2rem;
}

.marginB-1 {
    margin-bottom: 1rem;
}

.marginB-2 {
    margin-bottom: 2rem;
}

.marginAuto {
    margin-left: auto;
    margin-right: auto;
}

body {
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E5 100%);
}

header, .section-1, .section-2, footer {
    border: 1px inset var(--color-black);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


/* Header */

header {
    padding: 2rem;
}

header img {
    display: block;
    margin: 2rem auto;
}

nav {
    list-style: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.15rem;  
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: var(--color-black);
    
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header nav a {
    padding: 0.5rem;
}

header nav a:nth-child(odd) {
    text-align: right;
}

header .button {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}



/* Section 1 */

.section-1 img{
    display: block;
    max-width: 100%;
    margin: 2rem 0 0 auto;
    padding: 0 0 0 1.5rem;
}

.section-1 .container {
    margin-bottom: 19rem;
}

.divImpac {
    margin-left: 2rem;
    max-width: 15rem;
}


footer nav a {
    margin: 1rem 0;
}

.button {
    display: flex;
    width: 11rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid var(--color-black);
    box-shadow: 4px 4px 1px;
    cursor: pointer;
}

.spans {
    color: var(--color-primary);
}


h1, h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

.impac {
    display: block;
    position: relative;
}

.impac::after {
    content: '';
    background-image: url(img/three-dashes.svg);
    width: 46px;
    height: 49px;
    position: absolute;
    top: -0.75rem;

}

.btnComece {
    position: relative;
}

.btnComece::after {
    content: '';
    background-image: url(img/arrow-curve.svg);
    width: 7rem;
    height: 3rem;
    transform: rotate(-5deg);
    position: absolute;
    left: 8rem;
    top: 4rem;
}


/* Section 2 */

.cardsRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8rem;
    margin-bottom: 4rem;
}

.cards article {
    display: flex;
    flex-direction: column;
    max-width: 17rem;
    padding: 2rem 0 0 2rem;
    gap: 1rem;
    margin: 0 1rem;
    background-color: var(--color-primary);
    border: 1px solid var(--color-black);
    box-shadow: 4px 4px 1px;
}

.cards article img {
    width: 3rem;
    height: 3rem;
}

.cards article h3 {
    font-size: 1.3rem;
    font-weight: 900;
}

.cards article p {
    text-align: justify;
    margin-right: 2rem;
    font-size: 1rem;
}

.cards article a {
    display: block;
    margin: 3rem 0 0 auto;
}

.cards article:nth-child(even) {
    background-color: var(--color-secundary);
    margin-left: 1rem;
}

.conhecer {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}


/* Footer */

footer {
    padding: 2rem;
}

footer form label {
    font-size: 1.5rem;
}

footer form input {
    width: 15rem;
    height: 2.5rem;
    padding-left: 1.5rem;
    border: 1px solid var(--color-black);
    box-shadow: 4px 4px 1px;
}

footer form input:focus {
    outline-style: none;
}


/* Desktop */

@media screen and (min-width: 40rem) {
    header nav {
        display: block;
        text-align: center;
    }

    header .button {
        margin-top: 2rem;
    } 

    .cardsRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cardsRow article:nth-child(even) {
        margin-top: 2rem;
    }

    footer form input {
        width: 27rem;
    }

}

@media screen and (min-width: 48rem) {
    header div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header img,
    header nav,
    header .button {
        margin: 0;
    }
}

@media screen and (min-width: 1500px) {
    /* .container {
        display: flex;
        margin: 0 auto;
        align-items: center;
        
    }

    .header {
        justify-content: space-between;
    }

    header img,
    header nav,
    header li {
        margin: 0;
    }

    .container.row-reverse {
        flex-direction: row-reverse;
        margin: 0 0 13rem;
    }


    .cardsRow {
        justify-content: center;
    } */

    /* .cardsRow article:nth-child(even) {
        margin-left: 0;
        margin-right: 2rem;
        margin-top: 2.5rem;
    }
    
    .cardsRow article:nth-child(odd) {
        background-color: var(--color-primary);
        margin-left: 0;
        margin-right: 2rem;
    } */

   
    
    
}